@media (min-width:320px) and (max-width:575.99px){

    /* Nvber start */
    .navbar-collapse{
        background: purple;
        border-radius: 10px;
        padding: 20px 0px;
        margin: 30px 0px;
    }
    .nav-item{
        display: flex;
        justify-content: center;
        padding: 6px 0px;
    }
    .nav-link{
        color: white;
        font-size: 14px;
    }
    .nav-link:hover{
        color: white;
    }
    .navber-button{
        text-align: center;
    }
    /* Nvber end */
    /* banner start */
    .banner {
       
        padding: 101px 0px;
    }
    .banner h1 {
        font-size: 30px;
        
    }
    .banner p {
        font-size: 14px;
        
    }
    .common-button a {
        padding: 10px 18px;
        
    }
    /* banner end */
    
     
    
}
