/* common css start */
.common-button a{
    background: #4CAF4F;
    padding: 14px 32px;
    border-radius: 6px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
    transition: .5s;
    border: 1px solid transparent;
    display: inline-block;

}
.common-button a:hover{
    background: transparent;
    color: #4CAF4F;
    border-color: #4CAF4F;


}

.title {
    text-align: center;
    
}

.title h2{
    font-size: 36px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #4D4D4D;
}
.title p{
    font-size:16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #4D4D4D;
    padding-bottom: 8px;
}
.box{
    display: flex;
   
}
/* common css end */

/* Navber part start */
.navber-button a{
    background: #4CAF4F;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 500;
    transition: .5s;
    border: 1px solid transparent;
    margin-left: 10px;
    display: inline-block;

}
.navber-button a:hover{
    background: transparent;
    color: #4CAF4F;
    border-color: #4CAF4F;


}

nav{
    background: #F5F7FA;
    padding: 22px 0px !important;
}
.navbar-nav{
    column-gap: 50px;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
    color: #18191F;
    font-family: "Inter", sans-serif;
    padding-left: 0px !important;
    padding-right: 0px !important;
    transition: .5s;
}
.nav-link:hover{
    color: #000;

}
/* Navber part end */
/* Babber part Star */
.banner {
    background: #F5F7FA;
    padding: 161px 0px;
}

.banner h1{
    font-size: 64px;
    color: #4D4D4D;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
.banner h1 span{
    color: #4CAF4F;
}
.banner p{
    font-size: 16px;
    color: #717171;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    padding-top: 16px;
    padding-bottom: 32px;
}
/* Babber part end */
/* Client part start */

.client{
    padding: 40px 0px;
}
.client .box{
    justify-content: space-between;
    padding: 40px 0px;
}
/* Client part end */
/* commountiy part start */

.commountiy{
    padding: 40px 0px;
    
}

.commountiy .title h2{
    width: 542px;
    margin: 0 auto;

}
.commountiy .card{
  width: 100% !important;
 padding-left: 42px;
 padding-right: 42px;
 padding-top: 24px;
 padding-bottom: 48px;
 text-align: center;
 border: 0px !important;
 -webkit-box-shadow: 0px 6px 4px -1px rgba(171,190,209,1);
-moz-box-shadow: 0px 6px 4px -1px rgba(171,190,209,1);
box-shadow: 0px 6px 4px -1px rgba(171,190,209,1);
margin-top: 17px;


}
.commountiy .card img{
  width: 20%;
  margin: 0 auto;
  

}
.commountiy .card .card-title{
    font-size: 28px;
    color: #4D4D4D;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    padding-top: 16px;
    padding-bottom: 8px;

}
.commountiy .card .card-text{
    font-size: 14px;
    color: #717171;
    font-weight: 400;
    font-family: "Inter", sans-serif;

}
.commountiy .card .card-body{
    padding: 0 !important;

}


/* commountiy part end */
/* serive part start */

.service {
    padding: 48px 0px;

}

.service .title2{
    text-align: left;

}
/* serive part end */
/* deteils part start */

.deteils{
    padding: 84px 0px;
    margin: 48px 0px;
    background: #F5F7FA;
}
.deteils .title{
    text-align: left;
}
.deteils .title h2{
   width: 390px;
   padding-bottom: 8px;
}
.deteils .title h2 span{
    color: #4CAF4F;
}
.deteils .box{
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
}
.deteils .payment-box{
    width: 47%;
    display: flex;
    align-items: center;
    column-gap: 16px;
   
}
.deteils .payment-box .icon{
    color: #4CAF4F;
    background: red;
   font-size: 48px;
   
}
.deteils .payment-box h4{
    font-size: 28px;
    font-weight: 700;
    color: #4D4D4D;
    font-family: "Inter", sans-serif;
    
   
}
.deteils .payment-box p{
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    font-family: "Inter", sans-serif;
    
   
}

/* deteils part end */
/* customer part start */
.customer{
    padding: 32px 0px;
    background: #F5F7FA;
}
.customer p{
    font-size: 16px;
    font-weight: 500;
    color: #717171;
    font-family: "Inter", sans-serif;
    width: 748px;
    
}
.customer h6{
    font-size: 20px;
    font-weight: 600;
    color: #4CAF4F;
    font-family: "Inter", sans-serif;
    padding-top: 16px;
    padding-bottom: 8px;
    
}
.customer .slider{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    
}
.customer .slider h4{
    font-size: 20px;
    font-weight: 600;
    color: #4CAF4F;
    font-family: "Inter", sans-serif;
    
}
.customer .slider h4 i{
    margin-left: 8px;
    
    
}
/* customer part end */
